# pandas Series - Practice Tasks

This notebook contains practice examples for creating and working with Pandas Series.

# pandas Series 
         1.Creating Series
         2.Series with Custom Index
         3.Series Slicing
         4.Series Operations

Series Syntax:
seriesobjectname = pandas.Series(data,index,Dtype)
# "S" should be capital

In [ ]:
import pandas as pd

## 1.Creating Series

In [2]:
#creating a empty series
s1=pd.Series()
print(s1)

Series([], dtype: object)

In [4]:
# Creating a Series from a list with default index
s1=pd.Series([11,12,13,14,15])
print(s1)

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [5]:
# Creating a Series from a list with default index (float datatype)
s1=pd.Series([11.5,15.8,69,7])
print(s1)

0    11.5
1    15.8
2    69.0
3     7.0
dtype: float64

In [6]:
# Creating a Series from a list by assigning list in variable
days=[31,28,56]
s1=pd.Series(days)
print(s1)

0    31
1    28
2    56
dtype: int64

In [9]:
# Creating a Series using range method
s1=pd.Series(range(5))
print(s1)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [11]:
# Creating a Series by using scalar value
s1=pd.Series(15)
print(s1)

0    15
dtype: int64

In [15]:
# Creating a Series from scalar value with range method
s1=pd.Series(15, index=range(1,5))
print(s1)

1    15
2    15
3    15
4    15
dtype: int64

In [17]:
# Creating a Series by using Dictionary data
s1=pd.Series({'jan':30,'feb':28,'mar':31})
print(s1)

jan    30
feb    28
mar    31
dtype: int64

In [18]:
# Creating a Series by using Dictionary data which assigned in variable
y={'jan':30,'feb':28,'mar':31}
s1=pd.Series(y)
print(s1)

jan    30
feb    28
mar    31
dtype: int64

## 2.Series with Custom Index

In [7]:
# Creating a Series from a list with label index
months=['jan','feb','mar','apr','may']
days=[31,28,31,30,31]
s1=pd.Series(days,index=months)
print(s1)

jan    31
feb    28
mar    31
apr    30
may    31
dtype: int64

In [10]:
# Creating a Series by using for loop
s1=pd.Series(range(1,8,2),index=[x for x in 'abcd'])
print(s1)

a    1
b    3
c    5
d    7
dtype: int64

In [12]:
# Creating a Series from scalar value with label index
s1=pd.Series(15, index=['a','b','c','d'])
print(s1)

a    15
b    15
c    15
d    15
dtype: int64

## 3.Series Slicing

In [19]:
# Access elements from list based on Positional indexing  (integer value)
s1=pd.Series([100,200,300,400,500])
print(s1[1])

200

In [20]:
#Access elements from list by step 2
print(s1[::2])

0    100
2    300
4    500
dtype: int64

In [22]:
# Access elements from list in reverse order
print(s1[::-1])

4    500
3    400
2    300
1    200
0    100
dtype: int64

In [23]:
# Access elements from list that starts from index2
print(s1[2:])

2    300
3    400
4    500
dtype: int64

In [26]:
# Access elements from list based on label indexing
s2=pd.Series([11,12,13,14,15],index=['a','b','c','d','e'])
print(s2)
print(s2['a':'d'])

a    11
b    12
c    13
d    14
dtype: int64

In [27]:
# Changed values of elements based on label
s2['b':'d']=100
print(s2)

a     11
b    100
c    100
d    100
e     15
dtype: int64

In [29]:
#iloc and loc method
print(s2.loc['b':'e']) #based on labels
print(s2.iloc[1:4]) #based on positional index

b    100
c    100
d    100
dtype: int64

In [41]:
#head and tail method 
s3=pd.Series([10,20,30,40,50,60,70,80,90,100])
print(s3.head()) #first 5 elements will show
print(s3.tail()) #last 5 elements will show
print(s3.head(3))  #only show first 3 elements
print(s3.tail(3)) #only show last 3 elements
print(s3.head(-3)) # last 3 elements will not shown
print(s3.tail(-3))   #first 3 elements will not shown

0    10
1    20
2    30
dtype: int64

## Series Operations

In [46]:
#Series basic attributes
print(s3.size)  # will show how many elements is available
print(s3.ndim)  # shows dimensional structure
print(s3.empty) 
print(s3.hasnans) #shows none values present or not
print(s3.values)
print(s3.index)

10
1
False
False
[ 10  20  30  40  50  60  70  80  90 100]
RangeIndex(start=0, stop=10, step=1)

# Summary
    - A "Series" is a one- labeled array
    - It can store any datatype ( eg : int,float, string)
    - It has numeric data labels by default, but also supports " custom labels"
    - You can create series from  a list, dictionary or scalar value